body {
    font-family: Arial;
    margin: 0;
}

nav {
    background: black;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    margin-right: 10px;
}

.hero-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

section {
    padding: 20px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}
